/* Compiled CSS  */
.fs-body-1 {
  padding-top: 100px;
  padding-bottom: 40px;
  background: url(../templatemo_401_sprint/images/slider/slide2.jpg) top center no-repeat fixed;
  -webkit-background-size: cover; /* Safari en Chrome */
  -moz-background-size: cover; /*  Old Firefox */
  -o-background-size: cover; /* Opera */
  background-size: cover; /* W3C */

  border: 1px #e4e4e4 solid;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 15px #000;
  background-color: #fff;
  opacity: 0.8;

}


/*
.card{
  background-color: gray;
  background-image: -webkit-linear-gradient(bottom, grey, orange);
  background-image:         linear-gradient(to top, grey, white);
*/
}

.m{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px
}

@include font-size(18px);

// screen and (max-width: 480px)
@include media-query(palm) {
    ...
}

// screen and (min-width: 481px) and (max-width: 1023px)
@include media-query(lap) {
    ...
}

// screen and (min-width: 481px)
@include media-query(lap-and-up) {
    ...
}

// screen and (max-width: 1023px)
@include media-query(portable) {
    ...
}

// screen and (min-width: 1024px)
@include media-query(desk) {
    ...
}

// screen and (min-width: 1280px)
@include media-query(desk-wide) {
    ...
}

// screen and (min-width: 1920px)
@include media-query(full-hd) {
    ...
}

// (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
@include media-query(retina) {
    ...
}